<div>
    <span class="col-1 col-lg-1 material-icons p-0 row"
        style="margin-left: auto;margin-right: 0;margin-top:0;padding-right: 10px;" mat-dialog-close>close</span>
</div>

<div class="myscroll bg-primary">
    <div class="layer bg-warning" style="min-height: 79.39vh;">
        <form class="formCss bg-secondary" [formGroup]="registerForm">

            <h1 style="text-align: center; margin-top: 10px;"><strong>Fill in the details</strong> </h1>


            <hr>
            <br>
            <div class="form-group mb-2 ">
                <label for="exampleInputEmail1">Name</label>
                <input formControlName="name" id="name" type="text" class="form-control" id="Name"
                    aria-describedby="emailHelp" placeholder="Akila Udana"
                    [ngClass]="{ 'is-invalid': registerForm.controls['name'].touched && registerForm.controls['name'].errors }">

                <div *ngIf=" registerForm.controls['name'].errors" class="invalid-feedback">
                    <div *ngIf="registerForm.controls['name'].errors['required']">Name is required!</div>
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="exampleInputEmail1">Adress</label>
                <input formControlName="address" type="text" class="form-control" id="address"
                    aria-describedby="emailHelp" placeholder="no 54, Winston drive, NJ, USA"
                    [ngClass]="{ 'is-invalid': registerForm.controls['address'].touched && registerForm.controls['address'].errors }">

                <div *ngIf=" registerForm.controls['address'].errors" class="invalid-feedback">
                    <div *ngIf="registerForm.controls['address'].errors['required']">Address is required!</div>
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="exampleInputEmail1">NIC</label>
                <input style="opacity:0.4" readonly formControlName="NIC" type="text" class="form-control" id="NIC"
                    aria-describedby="emailHelp" placeholder="951102237 or 19951102237"
                    [ngClass]="{ 'is-invalid': registerForm.controls['NIC'].touched && registerForm.controls['NIC'].errors }">

                <mat-hint style="font-size:x-small;opacity: 0.4;">Cannot edit "NIC" now</mat-hint>

                <div *ngIf=" registerForm.controls['NIC'].errors" class="invalid-feedback">
                    <div *ngIf="registerForm.controls['NIC'].errors['required']">NIC is required!</div>
                    <div *ngIf="registerForm.controls['NIC'].errors['pattern']">Invalid Inputs!!</div>
                    <div *ngIf="registerForm.controls['NIC'].errors['minlength']">Cannot less than 9 digits!</div>
                    <div *ngIf="registerForm.controls['NIC'].errors['maxlength']">Cannot more than 12 digits!</div>
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="exampleInputEmail1">EMP code</label>
                <input style="opacity:0.4" readonly formControlName="EMP_code" type="text" class="form-control"
                    id="EMP_code" aria-describedby="emailHelp" placeholder="DCS44UI"
                    [ngClass]="{ 'is-invalid': registerForm.controls['EMP_code'].touched && registerForm.controls['EMP_code'].errors }">
                <mat-hint style="font-size:x-small; opacity:0.4">Cannot edit "EMP_Id" now</mat-hint>

                <div *ngIf=" registerForm.controls['EMP_code'].errors" class="invalid-feedback">
                    <div *ngIf="registerForm.controls['EMP_code'].errors['required']">EMP code is required!</div>
                    <div *ngIf="registerForm.controls['EMP_code'].errors['pattern']">Invalid Inputs!</div>

                </div>
            </div>



            <!-- <div class="form-group mb-2">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div> -->

            <!-- <div class="form-group mb-4">
          <label for="exampleFormControlSelect1">Example select</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div> -->
            <div class="form-group mb-4">
                <label class="labelStyles ">Gender</label>
                <select formControlName="gender" id="gender" class="form-select" aria-label="Default select example"
                    [ngClass]="{ 'is-invalid': registerForm.controls['gender'].touched && registerForm.controls['gender'].errors }">

                    <option value="">Please select a Gender</option>
                    <option *ngFor="let myGender of genderList" [ngValue]="myGender">{{myGender}}</option>

                </select>
                <div *ngIf=" registerForm.controls['gender'].errors" class="invalid-feedback">
                    <div *ngIf="registerForm.controls['gender'].errors['required']">Select your gender!
                    </div>
                </div>
            </div>


            <div class="form-group mb-4">
                <label class="labelStyles ">Department</label>
                <select formControlName="department" id="department" class="form-select"
                    aria-label="Default select example"
                    [ngClass]="{ 'is-invalid': registerForm.controls['department'].touched && registerForm.controls['department'].errors }">

                    <option value="">Please select your department!</option>
                    <option *ngFor="let myDepartment of Departments" [ngValue]="myDepartment">{{myDepartment}}</option>

                </select>
                <div *ngIf=" registerForm.controls['department'].errors" class="invalid-feedback">
                    <div *ngIf="registerForm.controls['department'].errors['required']">Select your department!!

                    </div>
                </div>
            </div>


            <button *ngIf="state==undefined" (click)="editEMPdata()" class="myButton mb-2" mat-raised-button
                color="accent" type="submit">Update
                Employee
            </button>

            <button *ngIf="state!==null" [hidden]="state==undefined" (click)="deleteEMPdata()" class="myButton mb-2"
                mat-raised-button color="warn" type="submit">Delete
                Employee
            </button>


        </form>
    </div>
</div>