<div class="container-fluid" style="min-height: 84.79vh;">
    <table class="table p-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">EMP_code</th>
                <th scope="col">Department</th>
                <th><button class="p-2" mat-icon-button disabled
                        aria-label="Example icon button with a open in new tab icon">
                        <mat-icon color="accent">edit</mat-icon>
                    </button></th>
                <th><button class="p-2" mat-icon-button disabled
                        aria-label="Example icon button with a open in new tab icon">
                        <mat-icon color="warn">delete</mat-icon>
                    </button></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employeeData index as id">
                <th scope="row">{{id}}</th>
                <td>{{emp.name}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.EMP_code}}</td>
                <td>{{emp.department}}</td>
                <td><button class="p-2" mat-icon-button disabled
                        aria-label="Example icon button with a open in new tab icon">
                        <mat-icon (click)="openDialog(emp)" color="accent">edit</mat-icon>
                    </button></td>
                <td><button class="p-2" mat-icon-button disabled
                        aria-label="Example icon button with a open in new tab icon">
                        <mat-icon  color="warn">delete</mat-icon>
                    </button></td>
            </tr>

        </tbody>
    </table>
</div>