<label class="label center" style="font-size: medium"><strong>Browse items by category</strong> </label>

<div class="cards px-3" style="margin-left: auto; margin-right: auto;min-height: 77.89vh;">
    <div class="card">
        <div class="row" style="margin-bottom: 10px;">
            <div class="column left text-center" style="background-color:white;">
                <img src="../../assets/images/disc-brake.png" alt="scooter"
                    style="margin: auto;height:72px;width:72px;">
            </div>
            <div class="column right" style="background-color:white;">
                <p style="font-size: larger; padding-top: 20px;">Spare Parts</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row" style="margin-bottom: 10px;">
            <div class="column left text-center" style="background-color:white;">
                <img src="../../assets/images/disc-brake.png" alt="scooter"
                    style="margin: auto;height:72px;width:72px;">
            </div>
            <div class="column right" style="background-color:white;">
                <p style="font-size: larger; padding-top: 20px;">Spare Parts</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row" style="margin-bottom: 10px;">
            <div class="column left text-center" style="background-color:white;">
                <img src="../../assets/images/disc-brake.png" alt="scooter"
                    style="margin: auto;height:72px;width:72px;">
            </div>
            <div class="column right" style="background-color:white;">
                <p style="font-size: larger; padding-top: 20px;">Spare Parts</p>
            </div>
        </div>
    </div>
</div>